$success:blue;
$info:yellow;
$warning:green;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "layouts.scss";
@import "base.scss";

.name{
	font-size: 40px;
	color: green;
	text-align: center;
}
pagination{
	align-items:center;
}
